<p>directive-demo works!</p>

<h3>ngIF directive</h3>
<p *ngIf = "isValid; else invalidContent">This is valid  </p>
<ng-template #invalidContent> This is invalid content</ng-template>

<button class="btn btn-primary" (click) = "toggleValid()">Toggle Validity</button>

@if(isValid){
    <p style="color: green;">This is valid content</p>
}
@else{
    <p style="color: red;">This is invalid content</p>

}

<ul>
    <li *ngFor="let num of lstNum">{{num}}</li>
</ul>

<h3>ngFor directive with angular 19 + </h3>
@for(num of lstNum; let i= $index; let e= $even; let o= $odd; let cnt= $count; track $index){
    <p>Index is : {{i}}, Value is : {{num}} , IsEven : {{e}}, IsOdd: {{o}}, Count : {{cnt}}</p>
}